.l-header__upper {
  position: fixed;
  width: 100%;
  background-color: $colorGrayLight;
  z-index: 100;
}

.l-header__inner {
  display: flex;
  align-items: flex-end;
  max-width: 1080px;
  height: 120px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.l-header__lower {
  padding-top: 120px;
  background-color: $colorWhiteGray;
  text-align: center;
}

.l-header__ttl {
  color: $colorGray;
}

@include mq(o-sp){
  .l-header__upper {
    padding-right: 16px;
    padding-left: 16px;
  }
  .l-header__ttl {
    font-size: 24px;
    font-size: 1.5rem;
  }
}