.c-headerNav {

  &__wrapper {
    width: 100vw;
    height: 0;
    position: fixed;
    left: 0;
    padding-top: 80px;
    background-color: $colorWhite;
    overflow: hidden;
    transition: 0.5s;
  }

  &__list {
    text-align: center;
    margin-bottom: 40px;
  }

  &__item {
    font-size: 20px;
    font-size: 1.25rem;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__link {
    @include opaAnime;
  }
}

@include mq (o-sp) {
  .c-headerNav {

    &__wrapper {
      padding-top: 60px;
    }
  }
}

@include mq (o-pc) {
  .c-headerNav {

    &__wrapper {
      display: block;
      position: static;
      width: auto;
      height: auto;
      padding-top: 0px;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 460px;
      margin-bottom: 0;
    }

    &__item {
      font-size: 12px;
      font-size: 0.875rem;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__link {
      display: block;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      line-height: 50px;
      &:hover {
        border-bottom: 2px solid $colorBlack;
      }
    }
  }
}

@include mq (o-bigPc) {
  .c-headerNav {

    &__wrapper {
      display: block;
      position: static;
      width: auto;
      height: auto;
    }

    &__list {
      width: 530px;
    }
  }
}

