.c-logo {
  &__link {
    display: block;
    width: 150px;
  }
}

.c-footerLogo {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 8px;
  &__img {}
}

@include mq (o-sp) {
  .c-footerLogo {
    width: 300px;
  }
}