.p-content {
  padding: 32px 24px;
  background-color: $colorWhite;

  &__inner {
    padding-bottom: 0;
    &:first-child {
      margin-bottom: 64px;
    }
  }

  &__ttl {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $colorGrayLight;
    font-size: 28px;
    font-size: #{"min(7.5vw, 1.75rem)"};
  }

  &__ttlIcon {
    width: 36px;
    margin-right: 20px;
  }

  //TOPICS
  &__ttlTopics {
    width: 28px;
    margin-right: 20px;
  }

  &__item {
    border-bottom: 1px dashed $colorGrayLight;
    @include opaAnime;
  }

  //TOPICS
  &__img {
    width: 60px;
    height: 60px;
    margin-right: 12px;
    margin-left: -16px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
  }

  &__txt {
    margin-right: 4px;
    font-size: 20px;
    font-size: 1.25rem;
    text-transform: none;
  }

  &__new {
    display: inline-block;
    margin-left: 4px;
    padding: 0 4px;
    background-color: $colorRed;
    color: $colorWhite;
    font-weight: bold;
  }

  &__listLink {
    display: flex;
    align-items: center;
    padding: 28px 16px;
    font-size: 24px;
    font-size: 1.5rem;
    @include opaAnime;
  }

  &__inner {
    padding-bottom: 0;
    &:first-child {
      margin-bottom: 64px;
    }
  }

  &__ttl {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $colorGrayLight;
    font-size: 28px;
    font-size: #{"min(7.5vw, 1.75rem)"};
  }

  &__ttlIcon {
    width: 36px;
    margin-right: 20px;
  }

  //TOPICS
  &__ttlTopics {
    width: 28px;
    margin-right: 20px;
  }

  &__item {
    border-bottom: 1px dashed $colorGrayLight;
    @include opaAnime;
  }

  //TOPICS
  &__img {
    width: 60px;
    height: 60px;
    margin-right: 12px;
    margin-left: -16px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
  }

  &__txt {
    margin-right: 4px;
    font-size: 20px;
    font-size: 1.25rem;
    text-transform: none;
  }

  &__new {
    display: inline-block;
    margin-left: 4px;
    padding: 0 4px;
    background-color: $colorRed;
    color: $colorWhite;
    font-weight: bold;
  }

  &__listLink {
    display: flex;
    align-items: center;
    padding: 28px 16px;
    font-size: 24px;
    font-size: 1.5rem;
    @include opaAnime;
  }
}

@include mq(o-pc) {

  .p-content {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      width: calc(100%/2);
    }
  }
}
