.p-header {

  &__navBtn {
    display: block;
  }

  &__imgs {
    display: none;
  }

  &__navInsta {
    display: block;
    margin: 0 auto;
  }
}

@include mq (o-pc) {
  .p-header {

    &__navInsta {
      display: none;
    }

    &__imgs {
      display: block;
    }

    &__insta {
      width: 16px;
      margin-right: 20px;
    }

    &__navBtn {
      display: none;
    }
  }
}