.p-news {
  padding-bottom: 70px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__main {
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item {
    max-width: 800px;
    padding: 15px 0;
    border-bottom: 1px solid $colorGrayWhite;

    &:first-child {
      border-top: 1px solid $colorGrayWhite;
    }

  }

  &__link {
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__date {
    margin-right: 20px;
    font-size: 12px;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
  }

  &__cat {
    width: 70px;
    padding: 3px;
    border: 1px solid $colorGrayLight;
    font-size: 11px;
    font-size: 0.6875rem;
    text-align: center;
    transition: 0.5s;
    &:hover {
      background-color: $colorGrayLight;
      color: $colorWhite;
    }
  }

  &__itemTtl {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    @include opaAnime
  }

  &__more {
    justify-content: flex-end;
    margin-right: -10px;
  }
}

@include mq (o-bigTb) {
  .p-news {
    &__item {
      display: flex;
      align-items: center;
      padding: 30px 0 28px 0;
      border-bottom: 1px solid $colorGrayDark;

      &:first-child {
        border-top: 1px solid $colorGrayDark;
      }

    }

    &__meta {
      width: 180px;
      margin-right: 24px;
      margin-bottom: 0px;
    }

    &__cat {
      width: 70px;
      padding: 1px;
      line-height: 1.5;
    }

    &__itemTtl {
      font-size: 16px;
      font-size: 1rem;
    }
  }
}
