.p-ranking {
  background-color: $colorWhite;

  &__inner {
    padding: 16px 24px 24px 24px;
  }

  &__link {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding-right: 8px;
    border: 6px solid $colorGray;
    @include opaAnime;
  }

  &__img {
    width: 100%;
  }
}