.p-search {
  padding: 64px 24px 32px 24px;
  background-color: $colorWhite;

  &__top {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 24px;
  }

  &__list {
    display: block;
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
    padding: 4px;
    border: 1px solid $colorGray;
    border-radius: 8px;
    font-size: 24px;
    font-size: 1.5rem;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 280px;
    padding: 12px;
    border: 1px solid $colorGrayLight;
  }

  &__btn {
    display: block;
    padding: 8px;
    border: 1px solid $colorBlack;
    background-color: $colorPureGray;
    color: $colorWhite;
    font-size: 20px;
    font-size: 1.25rem;
    @include opaAnime;
  }
}

@include mq(o-pc) {
  .p-search__inner {
    padding-right: 160px;
    padding-left: 160px;
  }
}