<header class="l-header">
  <div class="l-header__upper">
    <div class="l-header__inner">
      <a class="c-headerLogo" href="#"><img src="<%= path %>logo.png" alt="メインロゴ" class="c-headerLogo__img"></a>

      <a class="c-headerLogin" href="#">
        <img src="<%= path %>arrow.white.png" alt="矢印" class="c-headerLogin__img">
        <p class="c-headerLogin__txt">ログイン</p>
      </a>
    </div>
    <!-- /.l-header__inner -->
  </div>
  <!-- /.l-header__upper -->
  <div class="l-header__lower">
    <h1 class="l-header__ttl">家具情報サイト　タブルーム</h1>
  </div>
  <!-- /.l-header__lower -->
</header>