<header class="l-header">
  <div class="l-header__inner">
    <h1 class="c-mainLogo"><a href="#" class="c-mainLogo__link"><img src="<%= path %>logo.png" alt="会社ロゴ" class="c-mainLogo__img"></a></h1>

    <nav class="c-headerNav">
      <ul class="c-headerNav__list">

        <% const navText = [
          {text:"会社ついて"},{text:"私たちについて"},{text:"お客様の声"},{text:"実績"},{text:"お問い合わせ"},
        ]; %>

        <% for(var i = 0; i < navText.length; i++) {%>

        <li class="c-headerNav__item">
          <a href="#" class="c-headerNav__link"><%= navText[i].text %></a>
        </li>

        <% } %>
      </ul>

      <div class="c-navBtn">
        <% for(var i = 0; i<3; i++) {%>
        <span class="c-navBtn__bar"></span>
        <% } %>
      </div>
      <!-- /.c-navBtn -->
    </nav>

    <div class="l-header__imgs">
      <img src="<%= path %>instagram.png" alt="instagram" class="l-header__insta">
      <img src="<%= path %>ribon.png" alt="リボン" class="l-header__ribon">
    </div>
    <!-- /.l-header__imgs -->
  </div>
  <!-- /.l-header__inner -->
</header>